/*--- fonts ---*/

@font-face {
    font-family: Playfair-Regular;
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: Playfair-SemiBold;
    src: url(../fonts/PlayfairDisplay-SemiBold.ttf);
}



/* Organização do site */

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    background-image: url(../img/fundo-branco-com-formas-de-linhas-luxuosas-douradas_1017-27144.png);
    background-repeat: repeat;
    background-position: center;
}

main
{
    align-items: center;
}

/* Header */

.header
{
    width: 100%;
    height: 63px;
    background-color: rgba(240, 248, 255, 0.10);
    backdrop-filter: blur(3px);
    position: absolute;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid darkgray;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.h2-header
{
    font-family: 'Playfair-SemiBold';
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

/* Conteúdo */

.container-pai
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 120px;
    align-items: center;
}

.container-esquerda
{
    width: 300px;
    height: 400px;
    border: 3px solid darkgray;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(240, 248, 255, 0.6);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2
{
    margin: auto;
    font-family: 'Playfair-SemiBold';
}

.cad-btn
{
    width: 200px;
    height: 40px;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    margin: auto;
    font-family: 'Playfair-SemiBold';
}

.container-direita
{
    width: 600px;
    height: 400px;
    border: 3px solid darkgray;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(240, 248, 255, 0.1);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder
{
    width: 180px;
    height: 35px;
    padding: 0px 0px 0px 20px;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    font-family: 'Playfair-SemiBold';
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    font-family: 'Playfair-SemiBold';
  }

  input[type="checkbox"] {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  /*--- Responsividade ---*/

@media (max-width: 920px) 
{
    
    .container-pai
    {
        flex-direction: column;
    }

    .container-esquerda
    {
        width: 300px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 0px;
    }

    .container-direita
    {
        width: 300px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 7px;
    }

}